<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('partials/head'); %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%-include('partials/header'); %>

    <style>
      .notification {
          position: absolute;
          top: 10px;
          right: 10px;
      }

    </style>

    <div class="container mt-6 mb-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li>
                <a href="/adm/dashboard">
                  <span class="icon is-small">
                    <i class="fas fa-home" aria-hidden="true"></i>
                  </span>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="">
                <a href="/data/narapidana">
                  <span class="icon is-small">
                    <i class="fas fa-book" aria-hidden="true"></i>
                  </span>
                  <span>Data Narapidana</span>
                </a>
              </li>
    
              <li class="is-active">
                <a href="#">
                  <span class="icon is-small">
                    <i class="fa-solid fa-person" aria-hidden="true"></i>
                  </span>
                  <span>Tambah Narapidana</span>
                </a>
              </li>
            </ul>
        </nav>

        <hr>


        <div class="field is-grouped">
            <a href="/data/narapidana">
                <button class="button is-warning is-small">Kembali</button>
            </a>
            <!-- <div class="is-one-third is-flex ml-auto">
                <p class="control is-expanded">
                    <input class="input" type="text" placeholder="Search">
                </p>
            </div> -->
        </div>



        <!-- Notifikasi KTP -->
        <div id="notificationKTP" class="notification is-danger" style="display: none;">
          Nomor KTP tidak boleh melebihi 16 digit.
          <!-- <button class="delete" onclick="closeNotification('notificationKTP')"></button> -->
        </div>



        <div class="columns is-multiline">
            <div class="column is-half">
                <div class="box">
                  <form action="/data/post_narapidana" method="post">

                  <div class="field">
                    <label class="label">Nama Narapidana:</label>
                    <input class="input" required name="nama_narapidana" type="text">
                  </div>

                  <div class="field">
                    <label class="label">Nomor KTP:</label>
                    <input class="input" required name="no_ktp" type="text" oninput="validateNIPLength(this)">
                    <!-- Notifikasi teks untuk NIP -->
                    <p id="nipNotification" class="help is-danger" style="display: none;">Nomor KTP harus terdiri dari 16 digit.</p>
                    
                    <div id="nipNotificationSuccess" class="help is-success" style="display: none;">
                      Data NIP sudah 16 digit. Pastikan NIP sudah benar.sola
                    </div>
                  
                  </div>

                    <div class="field">
                      <label class="label">Agama</label>
                      <div class="control">
                        <div class="select">
                          <select name="agama" required>
                            <option>-</option>
                            <option value="kristen protestan">Kristen Protestan</option>
                            <option value="katholik">Katholik</option>
                            <option value="islam">Islam</option>
                            <option value="hindu">Hindu</option>
                            <option value="buddha">Buddha</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <!-- <label class="label">Umur:</label>
                    <input class="input" name="umur" type="number"> -->

                    <div class="field">
                      <label class="label">Tempat Lahir:</label>
                      <input class="input" required name="tempat_lahir" type="text">
                    </div>

                    <div class="field">
                      <label class="label">Tanggal Lahir:</label>
                      <input class="input" required name="tanggal_lahir" type="date">
                    </div>

                    <div class="field">
                      <label class="label">Alamat:</label>
                      <input class="input" required name="alamat_lengkap" type="text">
                    </div>
                </div>
            </div>
            
            <div class="column is-half">
                <div class="box">


                



                  <div class="field">
                    <label class="label">Pekerjaan Semula</label>
                    <div class="control">
                      <div class="select">
                        <select name="pekerjaan_semula" required>
                          <option value="">-</option>

                        </select>
                      </div>
                    </div>
                  </div>
                  

                    <!-- <div class="field">
                      <label class="label">Status Narapidana</label>
                      <div class="control">
                        <div class="select">
                          <select name="status_narapidana">
                            <option>-</option>
                            <option value="menjalani masa tahanan">Menjalani Masa Tahanan</option>
                            <option value="cuti menjelang bebas">Cuti Menjelang Bebas</option>
                          </select>
                        </div>
                      </div>
                    </div> -->

                    <div class="field">
                      <label class="label">Pendidikan Terakhir</label>
                      <div class="control">
                        <div class="select">
                          <select name="pendidikan_terakhir" required>
                            <option>-</option>
                            <option value="Belum/Tidak Pernah Sekolah">Belum/Tidak Pernah Sekolah</option>
                            <option value="Belum/Tidak Tamat SD/SDLB/MI/Paket A">Belum/Tidak Tamat SD/SDLB/MI/Paket A</option>
                            <option value="SD/SDLB/MI/Paket A">SD/SDLB/MI/Paket A</option>
                            <option value="SMP/SMPLB/MTs/Paket B">SMP/SMPLB/MTs/Paket B</option>
                            <option value="SMA/SMLB/MA/SMK/MAK/paket C">SMA/SMLB/MA/SMK/MAK/paket C</option>
                            <option value="DI/DII/DIII">DI/DII/DIII</option>
                            <option value="DIV/S1">DIV/S1</option>
                            <option value="S2">S2</option>
                            <option value="S3">S3</option>
                          </select>
                        </div>
                      </div>
                    </div>


                    <div class="field">
                      <label class="label">Register</label>
                      <div class="control">
                        <div class="select">
                          <select name="register" required>
                            <option>-</option>
                            <option value="hukuman mati (HM)">hukuman mati (HM)</option>
                            <option value="hukuman seumur hidup (HSP)">hukuman seumur hidup (HSP)</option>
                            <option value="B1 pidahan > 1 tahun < 3 tahun & 3 > keatas">B1 pidahan > 1 tahun < 3 tahun & 3 > keatas</option>
                            <option value="B2A 4 tahun < 1 tahun (pidana diatas 4 bulan, kurang dari 1 tahun)">B2A 4 tahun < 1 tahun (pidana diatas 4 bulan, kurang dari 1 tahun)</option>
                            <option value="B2B 3 bulan kebawah">B2B 3 bulan kebawah</option>
                            <option value="B3/Subsider pidana pengganti denda">B3/Subsider pidana pengganti denda</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <!-- Jenis tindak pidana -->
                    <div class="field">
                      <label class="label">Jenis Kejahatan</label>
                      <div class="control">
                        <div class="select">
                          <select name="tindak_pidana" required>
                            <option value="">-</option>
                            <% for(let i = 0; i < tindakPidanaData.length; i++) { %>
                              <option value="<%= tindakPidanaData[i].id_tindak_pidana %>"><%= tindakPidanaData[i].jenis_tindak_pidana %></option>
                            <% } %>
                          </select>
                        </div>
                      </div>
                    </div>

   

                    <label class="label">Sisa Masa Tahanan:</label>
                    <div class="field has-addons">
                      <div class="control">
                        <input class="input" required type="number" name="sisa_masa_tahanan" id="sisa_masa_tahanan">
                      </div>
                      <div class="control">
                        <a class="button is-static">
                          Bulan
                        </a>
                      </div>
                    </div>
                    
                    

                    <% if(user) { %>
                    <input type="hidden" name="nama_wali" value="<%= user.id_user %>" required>
                    <% } %>
                    
                </div>
            </div>
        </div>

        <!-- Konten lainnya -->
        <div class="is-flex is-justify-content-center">
            <button type="submit" class="button is-success">Simpan</button>
        </div>
      </form>

    </div>

    <script>
      function validateNIPLength(element) {
          var nip = element.value;
          var notification = document.getElementById("notificationKTP");
          var nipNotification = document.getElementById("nipNotification");
          var nipNotificationSuccess = document.getElementById("nipNotificationSuccess");

          if (nip.length < 16) { // Periksa jika panjang NIP kurang dari 16
              // Jika panjang NIP kurang dari 16 karakter, tampilkan pesan dan sembunyikan notifikasi panjang NIP
              nipNotification.style.display = "block";
              notification.style.display = "none";
              nipNotificationSuccess.style.display = "none";
              return; // Keluar dari fungsi karena NIP belum mencapai 16 digit
          }

          if (nip.length > 16) {
              // Jika panjang NIP melebihi 16 karakter, tampilkan notifikasi
              notification.style.display = "block";
              nipNotification.style.display = "none"; // Sembunyikan pesan NIP sudah 16 digit
              nipNotificationSuccess.style.display = "none";
              // Potong input menjadi 16 karakter
              element.value = nip.substring(0, 16);
          } else {
              // Jika panjang NIP tidak melebihi 16 karakter, sembunyikan notifikasi
              notification.style.display = "none";
              nipNotification.style.display = "none"; // Sembunyikan pesan NIP sudah 16 digit
              nipNotificationSuccess.style.display = "block";
          }
      }

      // Fungsi untuk menutup notifikasi dengan fade out setelah 3 detik
      function closeNotification(id) {
          var notification = document.getElementById(id);
          notification.style.transition = "opacity 0.5s"; // Efek fade out
          notification.style.opacity = "0"; // Mengatur opacity menjadi 0
          // Setelah 3 detik, notifikasi akan dihilangkan dari tampilan
          // setTimeout(function() {
          //     notification.style.display = "none";
          // }, 3000); // 3000 ms = 3 detik
      }

      // Mengatur event listener pada input field untuk memanggil fungsi validateNIPLength saat pengguna memasukkan NIP
      document.getElementById("nipInput").addEventListener("input", function() {
    validateNIPLength(this);
});
    </script>
  
  
  
  


    <%-include('partials/footer'); %>


</body>
</html>