<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head'); %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>


    <style>
        /* Style for help button */
        .help-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 999;
        }
    </style>

    <%-include('partials/header'); %>
    <div class="container mt-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li>
                <a href="/adm/dashboard">
                  <span class="icon is-small">
                    <i class="fas fa-home" aria-hidden="true"></i>
                  </span>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="is-active">
                <a href="#">
                  <span class="icon is-small">
                    <i class="fas fa-book" aria-hidden="true"></i>
                  </span>
                  <span>Data Narapidana</span>
                </a>
              </li>
            </ul>
        </nav>
        

        <hr>

        

        <% if (messagePost && messagePost.length > 0) { %>
            <div class="notification is-success">
                <% messagePost.forEach(message => { %>
                    <p><%= message %></p>
                <% }) %>
                <button class="delete" onclick="closeNotification(this)"></button>
            </div>
        <% } %>

        <% if (messageDelete && messageDelete.length > 0) { %>
            <div class="notification is-success">
                <% messageDelete.forEach(message => { %>
                    <p><%= message %></p>
                <% }) %>
                <button class="delete" onclick="closeNotification(this)"></button>
            </div>
        <% } %>

        <% if (messageUpdate && messageUpdate.length > 0) { %>
            <div class="notification is-success">
                <% messageUpdate.forEach(message => { %>
                    <p><%= message %></p>
                <% }) %>
                <button class="delete" onclick="closeNotification(this)"></button>
            </div>
        <% } %>
        
        <script>
            function closeNotification(button) {
                // Mendapatkan parent dari tombol delete, yaitu notifikasi
                var notification = button.parentNode;
                // Menghapus notifikasi
                notification.remove();
            }
        </script>



        <div class="field is-grouped">
            <% if (user && user.role === 'wali pemasyarakatan') { %>
            <a href="/data/add_narapidana">
                <button class="button">Tambah Narapidana</button>
            </a>
            <% } %>
            <div class="is-one-third is-flex ml-auto">
                <p class="control is-expanded">
                    <input class="input" type="text" id="searchInput" placeholder="Search">
                </p>
                <p class="control">
                    <button class="button is-info">
                        Search
                    </button>
                </p>
            </div>
        </div>
        
        <div class="overflow-x-auto shadow-md rounded-lg mt-3">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Nama Narapidana</th>
                        <th>Register</th>
                        <th>Nomor KTP</th>
                        <!-- <th>Kewarganegaraan</th> -->
                        <th>Nama Wali</th>
                        <th class="">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < narapidanaData.length; i++) { %>
                        <% const narapidana = narapidanaData[i]; %>
                        <tr>
                            <td><%= (currentPage - 1) * itemsPerPage + i + 1 %></td>
                            <td><%= narapidana.nama_narapidana %></td>
                            <td><%= narapidana.register %></td>
                            <td><%= narapidana.no_ktp %></td>
                            <td><%= narapidana.User.nama_lengkap %></td>
                            <td>
                                <button class="button is-small">
                                    <a href="/data/narapidana/<%= narapidana.id_narapidana %>" class="has-text-black"><i class="fa-regular fa-eye"></i></a>
                                </button>


                                
                                <% if (user && user.id_user === narapidana.waliId) { %>
                                    <!-- Tambahkan tombol edit pada setiap baris tabel -->
                                    <div class="dropdown is-hoverable">
            
                                        <div class="dropdown-trigger">
                                          <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu4">
                                            <span><i class="fa-regular fa-pen-to-square"></i></span>
                                            <span class="icon is-small">
                                              <i class="fas fa-angle-down" aria-hidden="true"></i>
                                            </span>
                                          </button>
                                        </div>
                            
                                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                          <div class="dropdown-content">
                                            <div class="dropdown-item">
                                                <a href="/data/edit_narapidana/<%= narapidana.id_narapidana %>" class="dropdown-item">
                                                    Edit Data
                                                </a>
                                                <!-- Opsi untuk memberi penilaian -->
                                                <!-- <a href="/data/penilaian_napi" class="dropdown-item">
                                                    Beri Penilaian
                                                </a> -->
                                            </div>
                                          </div>
                                        </div>
                                    </div>

                                    <script>
                                        function toggleDropdown(napiId) {
                                            const dropdown = document.getElementById('dropdown_' + napiId);
                                            dropdown.classList.toggle('is-active');
                                        }
                                    </script>


                                    <!-- Tombol untuk membuka modal konfirmasi -->
                                    <button class="button is-danger is-small" onclick="openConfirmationModal('<%= narapidana.id_narapidana %>')">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>


                                        <!-- Modal konfirmasi -->
                                    <div id="confirmationModal<%= narapidana.id_narapidana %>" class="modal">
                                        <div class="modal-background"></div>
                                        <div class="modal-card">
                                            <header class="modal-card-head">
                                                <p class="modal-card-title">Konfirmasi Hapus</p>
                                                <button class="delete" aria-label="close" onclick="closeConfirmationModal('<%= narapidana.id_narapidana %>')"></button>
                                            </header>
                                            <section class="modal-card-body">
                                                <p>Apakah Anda yakin ingin menghapus data ini?</p>
                                            </section>
                                            <footer class="modal-card-foot">
                                                <!-- Form untuk mengirimkan request DELETE saat tombol "Ya" ditekan -->
                                                <form id="deleteForm<%= narapidana.id_narapidana %>" action="/data/narapidana/<%= narapidana.id_narapidana %>?_method=DELETE" method="POST">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" class="button is-danger">Ya</button>
                                                </form>
                                                
                                                <!-- Tombol untuk menutup modal tanpa menghapus data -->
                                                <button class="button mx-3" onclick="closeConfirmationModal('<%= narapidana.id_narapidana %>')">Tidak</button>

                                            </footer>
                                        </div>
                                    </div>
                                <% } %>



                            </td>
                        </tr>
                    <% } %>
                </tbody>
                
            </table>
        </div>

    

    <hr>
    <div class="container mt-5 mb-5">
        <!-- Pagination -->
        <nav class="pagination" role="navigation" aria-label="pagination">
            <a class="pagination-previous <%= currentPage === 1 ? 'is-disabled' : '' %>"
                <% if (currentPage !== 1) { %>href="?page=<%= currentPage - 1 %>"<% } %>>Previous</a>
            <a class="pagination-next <%= currentPage === totalPages ? 'is-disabled' : '' %>"
                <% if (currentPage !== totalPages) { %>href="?page=<%= currentPage + 1 %>"<% } %>>Next page</a>
            <ul class="pagination-list">
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <% if (i >= 1) { %> <!-- Ensure page number is not less than 1 -->
                        <li>
                            <a class="pagination-link <%= currentPage === i ? 'is-current' : '' %>"
                                aria-label="Page <%= i %>" aria-current="<%= currentPage === i ? 'page' : '' %>"
                                href="?page=<%= i %>"><%= i %></a>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </nav>
    </div>
    <!-- End Pagination -->

    <!-- Tombol bantuan -->
    <button id="helpButton" class="button is-success help-button opacity-75" style="width: 40px; height: 40px; border-radius: 50%;">
        <i class="fa-solid fa-expand"></i>
    </button>

    <!-- Modal -->
    <div id="helpModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card" style="width: 1280px;">
        <header class="modal-card-head">
            <p class="modal-card-title">Data Narapidana - Expand</p>
            <button id="closeModal" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Nama Narapidana</th>
                        <th>Register</th>
                        <th>Nomor KTP</th>
                        <!-- <th>Kewarganegaraan</th> -->
                        <th>Nama Wali</th>
                        <th class="">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < narapidanaData.length; i++) { %>
                        <% const narapidana = narapidanaData[i]; %>
                        <tr>
                            <td><%= (currentPage - 1) * itemsPerPage + i + 1 %></td>
                            <td><%= narapidana.nama_narapidana %></td>
                            <td><%= narapidana.register %></td>
                            <td><%= narapidana.no_ktp %></td>
                            <td><%= narapidana.User.nama_lengkap %></td>
                            <td>

                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons">
            <button id="closeModalButton" class="button">Tutup ❌</button>
            </div>
        </footer>
        </div>
    </div>

    <script>
        // Ambil tombol penutup modal
        const closeModalButton = document.getElementById('closeModalButton');
        const closeModal = document.getElementById('closeModal');

        // Tambahkan event click pada tombol penutup modal
        closeModalButton.addEventListener('click', function() {
            // Sembunyikan modal
            document.getElementById('helpModal').classList.remove('is-active');
        });

        // Tambahkan event click pada background modal
        closeModal.addEventListener('click', function() {
            // Sembunyikan modal
            document.getElementById('helpModal').classList.remove('is-active');
        });
    </script>



    <script>
        // Ambil tombol dan modal
        const helpButton = document.getElementById('helpButton');
        const helpModal = document.getElementById('helpModal');

        // Tambahkan acara klik pada tombol
        helpButton.addEventListener('click', function() {
            // Tampilkan modal
            helpModal.classList.add('is-active');
        });

        // Tambahkan acara klik pada tombol tutup modal
        helpModal.querySelector('.modal-close').addEventListener('click', function() {
            // Sembunyikan modal
            helpModal.classList.remove('is-active');
        });
    </script>

    
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const navbarBurgers = Array.from(document.querySelectorAll('.navbar-burger'));
            if (navbarBurgers.length > 0) {
                navbarBurgers.forEach(burger => {
                    burger.addEventListener('click', () => {
                        const target = burger.dataset.target;
                        const menu = document.getElementById(target);
                        burger.classList.toggle('is-active');
                        menu.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>

    <script>
        // Fungsi untuk membuka modal konfirmasi
        function openConfirmationModal(id) {
            const modal = document.getElementById('confirmationModal' + id);
            modal.classList.add('is-active');
        }

        // Fungsi untuk menutup modal konfirmasi
        function closeConfirmationModal(id) {
            const modal = document.getElementById('confirmationModal' + id);
            modal.classList.remove('is-active');
        }
    </script>


<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <script src="/js/liveSearchBar.js"></script>

</body>
</html>