<!DOCTYPE html>
<html lang="en">
<head>

  <%-include('partials/head'); %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>


    <%-include('partials/header'); %>
    <div class="container mt-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li>
                <a href="/adm/dashboard">
                  <span class="icon is-small">
                    <i class="fas fa-home" aria-hidden="true"></i>
                  </span>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="is-active">
                <a href="#">
                  <span class="icon is-small">
                    <i class="fas fa-book" aria-hidden="true"></i>
                  </span>
                  <span>Data User</span>
                </a>
              </li>
            </ul>
        </nav>

        <hr>

      
      <script>
          function closeNotification(button) {
              // Mendapatkan parent dari tombol delete, yaitu notifikasi
              var notification = button.parentNode;
              // Menghapus notifikasi
              notification.remove();
          }
      </script>

        <div class="field is-grouped">

            <button class="button" id="btnTambahData">Tambah Data</button>
         
            <div class="is-one-third is-flex ml-auto">
                <p class="control is-expanded">
                  <input class="input" type="text" id="searchInput" placeholder="Search">
                </p>
                <p class="control">
                    <button class="button is-info">
                        Search
                    </button>
                </p>
            </div>
        </div>
        <% if (messagePost && messagePost.length > 0) { %>
        <div class="notification is-success">
            <% messagePost.forEach(msg => { %>
              <p><%= msg %></p>
            <% }) %>
            <button class="delete" onclick="closeNotification(this)"></button>
          </div>
        <% } %>

        <% if (message && message.length > 0) { %>
          <div class="notification is-warning">
            <% message.forEach(msg => { %>
              <p><%= msg %></p>
            <% }) %>
            <button class="delete" onclick="this.parentNode.remove()"></button>
          </div>
        <% } %>
        


        
        <div class="overflow-x-auto shadow-md rounded-lg mt-3">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Nama User</th>
                        <th>Username</th>
                        <!-- <th>Tindak Pidana</th> -->
                        <th>Role</th>
                        <th class="has-text-centered">Action</th>
                    </tr>
                </thead>
                <tbody>
                  <% for(let i= 0; i < adminData.length; i++) { %>
                    <tr>
                        <th><%= i + 1%></th>
                        <td><%= adminData[i].nama_lengkap %></td>
                        <td><%= adminData[i].username %></td>
                        <td><%= adminData[i].role %></td>
                        <td class="has-text-centered">
                          <button class="button">

                            <a href="/data/detail_user/<%= adminData[i].id_user %>/detail" data-tooltip="Detail User" class="has-text-black">
                              <i class="fa-regular fa-eye"></i>
                            </a>
                          </button>
                          
    
                          <button class="button is-warning is-light">
                            <a href="/data/edit_user/<%= adminData[i].id_user %>/edit"  data-tooltip="Edit User"  class="has-text-dark">
                              <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                          </button>

                          <button class="button is-info is-light">
                            <a href="/data/edit_user/<%= adminData[i].id_user %>/password" data-tooltip="Edit Password User"   class="has-text-dark">
                              <i class="fa-solid fa-key"></i>
                            </a>
                          </button>
                          
    
                          <form
                          action="/data/delete_user/<%= adminData[i].id_user %>"
                          method="POST"
                          style="display: inline;"
                          onsubmit="return confirm('Apakah Anda yakin ingin menghapus user ini?');"
                        >
                          <button class="button is-danger" data-tooltip="Delete User" type="submit">
                            <span class="has-text-white"><i class="fa-solid fa-trash"></i></span>
                          </button>
                        </form>
                        </td>
                    </tr>
                    <% } %>
                    <!-- Other table data -->
                </tbody>
            </table>
        </div>




        <div id="modalTambah" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title is-bold">Tambah Admin</p>
                <button class="delete" id="btnCloseHead" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                <form action="/data/post_user" method="post">

                

                <div class="field">
                    <label class="label">Nama Lengkap</label>
                    <div class="control">
                      <input class="input" type="text" name="nama_lengkap" placeholder="Nama Lengkap">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                      <input class="input" type="text" name="username" placeholder="Isi Username">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                      <input class="input" type="text" name="password" placeholder="Isi Password">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                      <input class="input" type="text" name="email" placeholder="Isi Email">
                    </div>
                    <small> *) gunakan akun email yang aktif</small>
                </div>

                <div class="field">
                    <label class="label">Akses Sebagai</label>
                    <div class="control">
                      <div class="select">
                        <select name="role">
                          <option>-</option>
                          <option value="wali pemasyarakatan">Wali Permasyarakatan</option>
                          <option value="koordinator wali">Koordinator Wali</option>
                          <option value="kepala lapas">Kepala Lapas</option>
                        </select>
                      </div>
                    </div>
                </div>


              </section>
              <footer class="modal-card-foot">
                <div class="buttons">
                    <button type="button" id="btnCloseModal" class="mr-3 button is-light mt-3">Tutup</button>
                    <button type="submit" class="button is-success mt-3">Simpan</button>
                </div>
              </footer>
            </form>
            </div>
        </div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const navbarBurgers = Array.from(document.querySelectorAll('.navbar-burger'));
            if (navbarBurgers.length > 0) {
                navbarBurgers.forEach(burger => {
                    burger.addEventListener('click', () => {
                        const target = burger.dataset.target;
                        const menu = document.getElementById(target);
                        burger.classList.toggle('is-active');
                        menu.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>


<script>
  function closeNotification(button) {
    var notification = button.parentNode;
    notification.remove();
  }
</script>
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const modalTambah = document.getElementById('modalTambah');
            const btnTambahData = document.getElementById('btnTambahData');
            const btnCloseModal = document.getElementById('btnCloseModal');
            const btnCloseHead = document.getElementById('btnCloseHead')
        
            btnTambahData.addEventListener('click', () => {
                modalTambah.classList.add('is-active');
            });
        
            btnCloseModal.addEventListener('click', () => {
                modalTambah.classList.remove('is-active');
            });

            btnCloseHead.addEventListener('click', () => {
                modalTambah.classList.remove('is-active');
            });
        });
  </script>

  <script src="/js/liveSearchBar.js"></script>
</body>
</html>