<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head'); %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>


    <%-include('partials/header'); %>
    <div class="container mt-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li>
                <a href="/adm/dashboard">
                  <span class="icon is-small">
                    <i class="fas fa-home" aria-hidden="true"></i>
                  </span>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="is-active">
                <a href="#">
                  <span class="icon is-small">
                    <i class="fas fa-book" aria-hidden="true"></i>
                  </span>
                  <span>Data Tindak Pidana</span>
                </a>
              </li>
            </ul>
        </nav>

        <hr>

        <% if (messagePost && messagePost.length > 0) { %>
            <div class="notification is-success">
                <% messagePost.forEach(message => { %>
                    <p><%= message %></p>
                <% }) %>
                <button class="delete" onclick="closeNotification(this)"></button>
            </div>
        <% } %>
        <% if (messageUpdate && messageUpdate.length > 0) { %>
            <div class="notification is-success">
                <% messageUpdate.forEach(message => { %>
                    <p><%= message %></p>
                <% }) %>
                <button class="delete" onclick="closeNotification(this)"></button>
            </div>
        <% } %>
        <% if (messageDelete && messageDelete.length > 0) { %>
            <div class="notification is-success">
                <% messageDelete.forEach(message => { %>
                    <p><%= message %></p>
                <% }) %>
                <button class="delete" onclick="closeNotification(this)"></button>
            </div>
        <% } %>

        <script>
            function closeNotification(button) {
                // Mendapatkan parent dari tombol delete, yaitu notifikasi
                var notification = button.parentNode;
                // Menghapus notifikasi
                notification.remove();
            }
        </script>

        <div class="field is-grouped">
            <% if(user && user.role == 'wali pemasyarakatan') { %>
            <button class="button" id="btnTambahData">Tambah Data</button>
            <% } %>

            <div class="is-one-third is-flex ml-auto">
                <p class="control is-expanded">
                    <input class="input" type="text" id="searchInput"  placeholder="Search">
                </p>
                <p class="control">
                    <button class="button is-info">
                        Search
                    </button>
                </p>
            </div>
        </div>
        
        <div class="overflow-x-auto shadow-md rounded-lg mt-3">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Jenis Tindak Pidana</th>
                        <th class="has-text-centered">Pasal KUHP/UU</th>

                        <th class="has-text-centered">Action</th>
                    </tr>
                </thead>
                <tbody  id="dataTable">
                    <% for(let i = 0 ; i < tindakPidanaData.length; i++) { %>
                        <tr>
                            <td><%= i + 1%></td>

                            <!-- <td><%= tindakPidanaData[i].id_tindak_pidana %></td> -->
                            <td><%= tindakPidanaData[i].jenis_tindak_pidana %></td>
                            <td class="has-text-centered"><%= tindakPidanaData[i].pasal_kuhp %></td>

                        
                            <td class="has-text-centered">
                                <% if(user && user.role == 'wali pemasyarakatan') { %>
                                <!-- Tambahkan tombol edit pada setiap baris tabel -->
                                <!-- Tambahkan tombol edit pada setiap baris tabel -->
                                <button class="button is-small" onclick="editTindakPidana('<%= tindakPidanaData[i].id_tindak_pidana %>', '<%= tindakPidanaData[i].jenis_tindak_pidana %>', '<%= tindakPidanaData[i].pasal_kuhp %>')">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </button>

                                <!-- Fungsi JavaScript untuk menampilkan data kriteria pada modal -->
                                <script>
                                    function editTindakPidana(id, nama, pasal) {
                                        const modal = document.getElementById('modalEdit');
                                        const inputId = document.getElementById('editIdTindakPidana');
                                        const inputNama = document.getElementById('editJenisTindakPidana');
                                        const inputPasalKuhp = document.getElementById('editPasalKuhp');

                                        // Set nilai id dan nama kriteria pada input di modal
                                        inputId.value = id;
                                        inputNama.value = nama;
                                        inputPasalKuhp.value = pasal;

                                        // Tampilkan modal
                                        modal.classList.add('is-active');
                                    }
                                </script>
                                <!-- Tombol untuk membuka modal konfirmasi -->
                                <button class="button is-danger is-small" onclick="openConfirmationModal('<%= tindakPidanaData[i].id_tindak_pidana %>')">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                                
                                <!-- Modal konfirmasi -->
                                <div id="confirmationModal<%= tindakPidanaData[i].id_tindak_pidana %>" class="modal">
                                    <div class="modal-background"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                            <p class="modal-card-title">Konfirmasi Hapus</p>
                                            <button class="delete" aria-label="close" onclick="closeConfirmationModal('<%= tindakPidanaData[i].id_tindak_pidana %>')"></button>
                                        </header>
                                        <section class="modal-card-body">
                                            <p>Apakah Anda yakin ingin menghapus data ini?</p>
                                        </section>
                                        <footer class="modal-card-foot">
                                            <!-- Form untuk mengirimkan request DELETE saat tombol "Ya" ditekan -->
                                            <form id="deleteForm<%= tindakPidanaData[i].id_tindak_pidana %>" action="/data/pidana/<%= tindakPidanaData[i].id_tindak_pidana %>?_method=DELETE" method="POST">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button type="submit" class="button is-danger">Ya</button>
                                            </form>
                                            
                                            <!-- Tombol untuk menutup modal tanpa menghapus data -->
                                            <button class="button mx-3" onclick="closeConfirmationModal('<%= tindakPidanaData[i].id_tindak_pidana %>')">Tidak</button>

                                        </footer>
                                    </div>
                                </div>
                                <% } %>
                            </td>
                        </tr>
                        <% } %>
                        
                    <!-- Other table data -->
                </tbody>
            </table>
        </div>

        <hr>
        <!-- <div class="container mt-5 mb-5">


        </div> -->
        <!-- End Pagination -->



        <!-- Bagian modal edit -->
        <div id="modalEdit" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <h2 class="title is-4">Edit Tindak Pidana</h2>
                    <hr>
                    <form id="formEditData" action="/data/update_pidana" method="POST">
                        <!-- Input field untuk id tindak pidana (hidden) -->
                        <input type="hidden" id="editIdTindakPidana" name="id_tindak_pidana">

                        <div class="field">
                            <label class="label">Jenis Tindak Pidana:</label>
                            <div class="control">
                                <input class="input" type="text" id="editJenisTindakPidana" name="jenis_tindak_pidana" placeholder="Masukkan jenis Tindak Pidana" required>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Pasal KUHP/UU:</label>
                            <div class="control">
                                <input class="input" type="text" id="editPasalKuhp" name="pasal_kuhp" placeholder="Masukkan Pasal KUHP/UU" required>
                            </div>
                        </div>

                        <!-- Tombol untuk menutup modal -->
                        <button type="button" id="btnCloseModalEdit" class="mr-3 button is-light mt-3">Tutup</button>
                        <!-- Tombol untuk menyimpan perubahan -->
                        <button type="submit" class="button is-success mt-3">Simpan</button>
                    </form>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>



        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const btnCloseModalEdit = document.getElementById('btnCloseModalEdit');
                const modalEdit = document.getElementById('modalEdit');

                btnCloseModalEdit.addEventListener('click', () => {
                    modalEdit.classList.remove('is-active');
                });
            });


        </script>



        <%-include('pidana/add_pidana'); %>
     
        <div class="container mt-5 mb-5">


        </div>
        <!-- End Pagination -->
    </div>
    
    <script src="/js/liveSearchBar.js"></script>
    <script src="/js/navdrop.js"></script>
    
    <script>
        // Fungsi untuk membuka modal konfirmasi
        function openConfirmationModal(id) {
            const modal = document.getElementById('confirmationModal' + id);
            modal.classList.add('is-active');
        }

        // Fungsi untuk menutup modal konfirmasi
        function closeConfirmationModal(id) {
            const modal = document.getElementById('confirmationModal' + id);
            modal.classList.remove('is-active');
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const modalTambah = document.getElementById('modalTambah');
            const btnTambahData = document.getElementById('btnTambahData');
            const btnCloseModal = document.getElementById('btnCloseModal');
        
            btnTambahData.addEventListener('click', () => {
                modalTambah.classList.add('is-active');
            });
        
            btnCloseModal.addEventListener('click', () => {
                modalTambah.classList.remove('is-active');
            });
        });
    </script>
</body>
</html>