<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include('partials/header'); %>
    <div class="container mt-6">
        <!-- Breadcrumbs and Notifications -->
        <!-- Existing code remains unchanged -->


        
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li>
                <a href="/adm/dashboard">
                  <span class="icon is-small">
                    <i class="fas fa-home" aria-hidden="true"></i>
                  </span>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="is-active">
                <a href="#">
                  <span class="icon is-small">
                    <i class="fas fa-book" aria-hidden="true"></i>
                  </span>
                  <span>Data Penilaian</span>
                </a>
              </li>
            </ul>
        </nav>

        <hr>

        <div class="field is-grouped">
            <% if(user && user.role == 'wali pemasyarakatan') { %>
            <a class="button" href="/data/add_penilaian">Tambah Data Penilaian Alternatif</a>
            <% } %>
            <div class="is-one-third is-flex ml-auto">
                <p class="control is-expanded">
                    <input class="input" type="text" id="searchInput" placeholder="Search">
                </p>
                <p class="control">
                    <button class="button is-info">Search</button>
                </p>
            </div>
        </div>

                    <!-- Dropdown for Destroy All Data -->

        <div class="dropdown is-hoverable is-right is-small">
            <div class="dropdown-trigger">
                <button class="button is-danger is-small" aria-haspopup="true" aria-controls="dropdown-menu-destroy">
                    <span>More Actions</span>
                    <span class="icon is-small">
                        <i class="fas fa-caret-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu-destroy" role="menu">
                <div class="dropdown-content">
                    <!-- Destroy All Data Button -->
                    <form action="/data/destroy_all_penilaian" method="POST" style="margin-left: 40px;" onsubmit="return confirm('Are you sure you want to delete all data?');">
                        <button class="dropdown-item button is-small ml-5" type="submit">
                            <i class="fa-solid fa-trash"></i> Destroy All
                        </button>
                    </form>
                </div>
            </div>
        </div>


        

        <div class="overflow-x-auto shadow-md rounded-lg mt-3">
            <div class="table-container">
                <div class="field is-grouped">

                  
                    <div class="ml-auto is-flex">
                        <form method="GET" action="/data/penilaian">
                            <div class="field has-addons">
                              <div class="control">
                                <div class="select">
                                  <select name="periodeId" onchange="this.form.submit()" required>
                                    <option value="">- Pilih Periode -</option> <!-- default kosong -->
                                    <% periodeData.forEach(function(periode) { %>
                                      <option value="<%= periode.id_periode %>" <%= selectedPeriodeId == periode.id_periode ? 'selected' : '' %>>
                                        <%= periode.id_periode %> - <%= periode.tahun_periode %> (<%= periode.periode_penilaian %>)
                                      </option>
                                    <% }) %>
                                  </select>
                                </div>
                              </div>
                              <div class="control">
                                <button type="submit" class="button is-info">Filter</button>
                              </div>
                            </div>
                          </form>
                          
                    </div>
                  </div>
                  
                <table class="table is-fullwidth is-hoverable">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>Periode</th>
                            <% kriteriaData.forEach(function(kriteria, index) { %>
                                <th>C<%= index + 1 %></th>
                            <% }) %>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% penilaianData.forEach(function(penilaian, index) { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= penilaian.narapidana.nama_narapidana %></td>
                            <td>
                                <% if (penilaian.periode) { %>
                                    <%= penilaian.periode.id_periode %> - <%= penilaian.periode.tahun_periode %>
                                <% } else { %>
                                    beri penilaian terlebih dulu
                                <% } %>
                            </td>
                            <% penilaian.kriteria_nilai.forEach(function(nilai) { %>
                                <td><%= nilai %></td>
                            <% }) %>
                            <td>
                                <!-- Edit Button with Form -->
                                <!-- <a class="button is-warning is-small" href="/data/edit_penilaian/<%= penilaian.narapidana.id_narapidana %>">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a> -->
                                <a class="button is-warning is-small" data-tooltip="Edit Penilaian" href="/data/penilaian/edit_narapidana/<%= penilaian.narapidana.id_narapidana %>">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                                <!-- Delete Button with Form -->
                                <form action="/data/delete_penilaian/<%= penilaian.narapidana.id_narapidana %>"  data-tooltip="Delete Penilaian" method="POST" style="display: inline;">
                                    <button class="button is-danger is-small" type="submit">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                
            </div>
        </div>

        <hr>
    </div>

    <script src="/js/liveSearchBar.js"></script>
    <script src="/js/navdrop.js"></script>
</body>
</html>
