<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Pekerjaan</title>
    <link rel="stylesheet" href="/vendor/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>


    <%-include('partials/header'); %>
    <div class="container mt-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li>
                <a href="/dashboard">
                  <span class="icon is-small">
                    <i class="fas fa-home" aria-hidden="true"></i>
                  </span>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="is-active">
                <a href="#">
                  <span class="icon is-small">
                    <i class="fas fa-book" aria-hidden="true"></i>
                  </span>
                  <span>Data Pekerjaan</span>
                </a>
              </li>
            </ul>
        </nav>

        <hr>

        <div class="field is-grouped">

            <button class="button" id="btnTambahData">Tambah Data</button>

            <div class="is-one-third is-flex ml-auto">
                <p class="control is-expanded">
                    <input class="input" type="text" placeholder="Search">
                </p>
                <p class="control">
                    <button class="button is-info">
                        Search
                    </button>
                </p>
            </div>
        </div>
        
        <div class="overflow-x-auto shadow-md rounded-lg mt-3">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Pekerjaan</th>
                        <th class="has-text-centered">Create At</th>

                        <th class="has-text-centered">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0 ; i < pekerjaanData.length; i++) { %>
                        <tr>
                            <th><%= i + 1 %></th>
                            <td><%= pekerjaanData[i].nama_pekerjaan %></td>
                            <td class="has-text-centered"><%= new Date(pekerjaanData[i].createdAt).toISOString().slice(0, 19).replace('T', ' ') %></td>
                        
                            <td class="has-text-centered">
                                <button class="button">
                                    <a href="/data/detail_narapidana" class="has-text-black"><i class="fa-regular fa-eye"></i></a>
                                </button>
                        
                                <button class="button">
                                    <a href="/data/edit_narapidana" class="has-text-dark"><i class="fa-regular fa-pen-to-square"></i></a>
                                </button>
                        
                                <!-- Tombol untuk membuka modal konfirmasi -->
                                <button class="button is-danger" onclick="openConfirmationModal('<%= pekerjaanData[i].id_pekerjaan %>')">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                                
                                <!-- Modal konfirmasi -->
                                <div id="confirmationModal<%= pekerjaanData[i].id_pekerjaan %>" class="modal">
                                    <div class="modal-background"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                            <p class="modal-card-title">Konfirmasi Hapus</p>
                                            <button class="delete" aria-label="close" onclick="closeConfirmationModal('<%= pekerjaanData[i].id_pekerjaan %>')"></button>
                                        </header>
                                        <section class="modal-card-body">
                                            <p>Apakah Anda yakin ingin menghapus data ini?</p>
                                        </section>
                                        <footer class="modal-card-foot">
                                            <!-- Form untuk mengirimkan request DELETE saat tombol "Ya" ditekan -->
                                            <form id="deleteForm<%= pekerjaanData[i].id_pekerjaan %>" action="/data/delete_pekerjaan/<%= pekerjaanData[i].id_pekerjaan %>" method="POST">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button type="submit" class="button is-danger">Ya</button>
                                            </form>
                                            <!-- Tombol untuk menutup modal tanpa menghapus data -->
                                            <button class="button" onclick="closeConfirmationModal('<%= pekerjaanData[i].id_pekerjaan %>')">Tidak</button>

                                        </footer>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <% } %>
                        
                    <!-- Other table data -->
                </tbody>
            </table>
        </div>
        <div id="modalTambah" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <h2 class="title is-4">Tambah Pekerjaan</h2> <!-- Judul "Tambah Agama" -->
                    <hr>
                    <!-- Form untuk menginput data -->
                    <form id="formTambahData" action="/data/post_pekerjaan" method="POST">
                        <!-- Input fields -->
                        <div class="field">
                            <label class="label">Nama Pekerjaan:</label>
                            <div class="control">
                                <input class="input" type="text" name="nama_pekerjaan" id="nama_pekerjaan" placeholder="Masukkan jenis pekerjaan">
                            </div>
                        </div>
                        <!-- Tambahkan input fields lainnya sesuai kebutuhan -->
                        <!-- Tombol untuk menutup modal -->
                        <button type="button" id="btnCloseModal" class="mr-3 button is-light mt-3">Tutup</button>
                        <button type="submit" class="button is-success mt-3">Simpan</button>
                    </form>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
        
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const navbarBurgers = Array.from(document.querySelectorAll('.navbar-burger'));
            if (navbarBurgers.length > 0) {
                navbarBurgers.forEach(burger => {
                    burger.addEventListener('click', () => {
                        const target = burger.dataset.target;
                        const menu = document.getElementById(target);
                        burger.classList.toggle('is-active');
                        menu.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>
<script>
    // Fungsi untuk membuka modal konfirmasi
    function openConfirmationModal(id) {
        const modal = document.getElementById('confirmationModal' + id);
        modal.classList.add('is-active');
    }

    // Fungsi untuk menutup modal konfirmasi
    function closeConfirmationModal(id) {
        const modal = document.getElementById('confirmationModal' + id);
        modal.classList.remove('is-active');
    }
</script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const modalTambah = document.getElementById('modalTambah');
            const btnTambahData = document.getElementById('btnTambahData');
            const btnCloseModal = document.getElementById('btnCloseModal');
        
            btnTambahData.addEventListener('click', () => {
                modalTambah.classList.add('is-active');
            });
        
            btnCloseModal.addEventListener('click', () => {
                modalTambah.classList.remove('is-active');
            });
        });
    </script>
</body>
</html>