<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head'); %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>


    <%-include('partials/header'); %>
    <div class="container mt-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li>
                <a href="/adm/dashboard">
                  <span class="icon is-small">
                    <i class="fas fa-home" aria-hidden="true"></i>
                  </span>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="is-active">
                <a href="#">
                  <span class="icon is-small">
                    <i class="fas fa-book" aria-hidden="true"></i>
                  </span>
                  <span>Data Periode</span>
                </a>
              </li>
            </ul>
        </nav>

        <hr>

        <% if (messagePost && messagePost.length > 0) { %>
            <div class="notification is-success">
                <% messagePost.forEach(message => { %>
                    <p><%= message %></p>
                <% }) %>
                <button class="delete" onclick="closeNotification(this)"></button>
            </div>
        <% } %>
        <% if (messageUpdate && messageUpdate.length > 0) { %>
            <div class="notification is-success">
                <% messageUpdate.forEach(message => { %>
                    <p><%= message %></p>
                <% }) %>
                <button class="delete" onclick="closeNotification(this)"></button>
            </div>
        <% } %>
        <% if (messageDelete && messageDelete.length > 0) { %>
            <div class="notification is-success">
                <% messageDelete.forEach(message => { %>
                    <p><%= message %></p>
                <% }) %>
                <button class="delete" onclick="closeNotification(this)"></button>
            </div>
        <% } %>

        <script>
            function closeNotification(button) {
                // Mendapatkan parent dari tombol delete, yaitu notifikasi
                var notification = button.parentNode;
                // Menghapus notifikasi
                notification.remove();
            }
        </script>

        <div class="field is-grouped">
            <% if(user && user.role == 'wali pemasyarakatan') { %>
            <button class="button" id="btnTambahData">Tambah Data</button>
            <% } %>

            <div class="is-one-third is-flex ml-auto">
                <p class="control is-expanded">
                    <input class="input" type="text" id="searchInput"  placeholder="Search">
                </p>
                <p class="control">
                    <button class="button is-info">
                        Search
                    </button>
                </p>
            </div>
        </div>
        
        <div class="overflow-x-auto shadow-md rounded-lg mt-3">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Tahun Periode</th>
                        <th class="has-text-centered">Periode Penilaian</th>

                        <th class="has-text-centered">Action</th>
                    </tr>
                </thead>
                <tbody  id="dataTable">
                    <% for(let i = 0 ; i < periodeData.length; i++) { %>
                        <tr>
                            <td><%= i + 1%></td>

                            <!-- <td><%= periodeData[i].id_periode %></td> -->
                            <td><%= periodeData[i].tahun_periode %></td>
                            <td class="has-text-centered"><%= periodeData[i].periode_penilaian %></td>

                        
                            <td class="has-text-centered">
                                <% if(user && user.role == 'wali pemasyarakatan') { %>
                                <!-- Tambahkan tombol edit pada setiap baris tabel -->
                                <!-- Tambahkan tombol edit pada setiap baris tabel -->
                                <button class="button" onclick="editPeriode('<%= periodeData[i].id_periode %>', '<%= periodeData[i].periode_penilaian %>', '<%= periodeData[i].tahun_periode %>')">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </button>

                                <!-- Fungsi JavaScript untuk menampilkan data kriteria pada modal -->
                                <script>
                                    function editPeriode(id, tahunPeriode, periodePenilaian) {
                                        const modal = document.getElementById('modalEdit');
                                        const inputId = document.getElementById('editIdPeriode');
                                        const inputTahunPeriode = document.getElementById('editTahunPeriode');
                                        const inputPeriodePenilaian = document.getElementById('editPeriodePenilaian');

                                        // Set nilai id dan nama kriteria pada input di modal
                                        inputId.value = id;
                                        inputTahunPeriode.value = tahunPeriode;
                                        inputPeriodePenilaian.value = periodePenilaian;

                                        // Tampilkan modal
                                        modal.classList.add('is-active');
                                    }
                                </script>
                                <!-- Tombol untuk membuka modal konfirmasi -->
                                <button class="button is-danger" onclick="openConfirmationModal('<%= periodeData[i].id_periode %>')">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                                
                                <!-- Modal konfirmasi -->
                                <div id="confirmationModal<%= periodeData[i].id_periode %>" class="modal">
                                    <div class="modal-background"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                            <p class="modal-card-title">Konfirmasi Hapus</p>
                                            <button class="delete" aria-label="close" onclick="closeConfirmationModal('<%= periodeData[i].id_periode %>')"></button>
                                        </header>
                                        <section class="modal-card-body">
                                            <p>Apakah Anda yakin ingin menghapus data ini?</p>
                                        </section>
                                        <footer class="modal-card-foot">
                                            <!-- Form untuk mengirimkan request DELETE saat tombol "Ya" ditekan -->
                                            <form id="deleteForm<%= periodeData[i].id_periode %>" action="/data/periode/<%= periodeData[i].id_periode %>?_method=DELETE" method="POST">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button type="submit" class="button is-danger">Ya</button>
                                            </form>
                                            
                                            <!-- Tombol untuk menutup modal tanpa menghapus data -->
                                            <button class="button mx-3" onclick="closeConfirmationModal('<%= periodeData[i].id_periode %>')">Tidak</button>

                                        </footer>
                                    </div>
                                </div>
                                <% } %>
                            </td>
                        </tr>
                        <% } %>
                        
                    <!-- Other table data -->
                </tbody>
            </table>
        </div>

        <hr>
        <!-- <div class="container mt-5 mb-5">


        </div> -->
        <!-- End Pagination -->



        <!-- Bagian modal edit -->
        <div id="modalEdit" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <h2 class="title is-4">Edit Periode</h2>
                    <hr>
                    <form id="formEditData" action="/data/update_periode" method="POST">
                        <!-- Input field untuk id tindak pidana (hidden) -->
                        <input type="hidden" id="editIdPeriode" name="id_periode">

                        <div class="field">
                            <label class="label">Tahun Periode :</label>
                            <div class="control">
                                <input class="input" type="text" id="editTahunPeriode" name="tahun_periode" placeholder="Masukkan Tahun Periode" required>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Periode Penilaian:</label>
                            <div class="control">
                                <input class="input" type="text" id="editPeriodePenilaian" name="periode_penilaian" placeholder="Masukkan Periode Penilaian" required>
                            </div>
                        </div>

                        <!-- Tombol untuk menutup modal -->
                        <button type="button" id="btnCloseModalEdit" class="mr-3 button is-light mt-3">Tutup</button>
                        <!-- Tombol untuk menyimpan perubahan -->
                        <button type="submit" class="button is-success mt-3">Simpan</button>
                    </form>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>



        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const btnCloseModalEdit = document.getElementById('btnCloseModalEdit');
                const modalEdit = document.getElementById('modalEdit');

                btnCloseModalEdit.addEventListener('click', () => {
                    modalEdit.classList.remove('is-active');
                });
            });


        </script>



        <%-include('periode/add_periode'); %>
     
        <div class="container mt-5 mb-5">


        </div>
        <!-- End Pagination -->
    </div>
    
    <script src="/js/liveSearchBar.js"></script>
    <script src="/js/navdrop.js"></script>
    
    <script>
        // Fungsi untuk membuka modal konfirmasi
        function openConfirmationModal(id) {
            const modal = document.getElementById('confirmationModal' + id);
            modal.classList.add('is-active');
        }

        // Fungsi untuk menutup modal konfirmasi
        function closeConfirmationModal(id) {
            const modal = document.getElementById('confirmationModal' + id);
            modal.classList.remove('is-active');
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const modalTambah = document.getElementById('modalTambah');
            const btnTambahData = document.getElementById('btnTambahData');
            const btnCloseModal = document.getElementById('btnCloseModal');
        
            btnTambahData.addEventListener('click', () => {
                modalTambah.classList.add('is-active');
            });
        
            btnCloseModal.addEventListener('click', () => {
                modalTambah.classList.remove('is-active');
            });
        });
    </script>
</body>
</html>